services:
  threadfin:
    image: fyb3roptik/threadfin
    container_name: threadfin
    ports:
      - 34400:34400
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
    volumes:
      - /home/shrishesha/servar-config/threadfin/conf:/home/threadfin/conf
      - /home/shrishesha/servar-config/threadfin/temp:/tmp/threadfin:rw
    restart: unless-stopped